.App {
  text-align: center;
}

.container{
  display: flex;
  flex-direction:column;
  align-items: center;
  color:black;
  
}
.form{
border-style: double ;
width: 250px;
height: 180px;
margin : 20px;
background-color: bisque;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
